
@model Toutokaz.WebUI.Areas.Admin.Models.SectionViewModel

@{
    ViewBag.Title = "Toutokazz Admin - Ajouter Section";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminPagev2.cshtml";
}


<div class="inner-box">
     <h2 class="title-2">Ajouter Section</h2>
  
              <div class="col-lg-9"> 
                     @Html.Raw(@ViewBag.Message)
                  <form class="form-horizontal" role="form" method="post">
                     @Html.ValidationSummary(true)
                   <div class="form-group">                        
                            <label for="lblSectiontitle" class="col-sm-3 control-label">Titre Section</label>
                            <div class="col-sm-6">               
                                @Html.TextBoxFor(model => model.section_title, new {@class="form-control", id="section_title"})
                                  @Html.ValidationMessageFor(model => model.section_title)
                            </div>
                     </div>
                     <div class="form-group">                             
                            <label for="lblSectionDesc" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">               
                                @Html.TextBoxFor(model => model.section_description, new {@class="form-control", id="section_description"})
                                  @Html.ValidationMessageFor(model => model.section_description)
                            </div>
                     </div>
                      <div class="form-group">  
                          <div class="col-sm-offset-3 col-sm-6">
                            <input type="submit" value="Sauvergarder" />
                           </div>
                       </div>   
                   </form>
          </div>   
</div>
