@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section categories_menu {
          @{Html.RenderAction("_NavbarCategoriesMenu", "Home");}
}
<div class="col-lg-10">
 
<h3>Réinitialiser mot de passe</h3>
     <hr />
             <form class="form-horizontal" role="form" method="post" action="@Url.Action("ForgotPassword","Account")">
                          <div>
                            @Html.Raw(@ViewBag.Message)
                        </div>
                         <div class="form-group">
                               @Html.ValidationSummary(true)
                             @Html.AntiForgeryToken()
                            
                            <label for="Email" class="col-sm-3 control-label">Votre Email</label>
                            <div class="col-sm-6">
                                   <input type="email" name="Email" id="Email" class="form-control" placeholder="votre email" />
                               </div>
                          </div>
                                           <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button id="btnvalider" type="submit" class="btn btn-primary">Valider</button>
                            </div>
                          </div>
                 </form>
    </div>
