@model  PagedList.IPagedList<Toutokaz.Domain.Models.tb_ads>
@using Toutokaz.WebUI.Helpers
@using MvcSiteMapProvider.Web.Html
@using PagedList.Mvc


<hr />
<div id="annoncesBlock">
    <div class="row selected-classifieds">
        @{
                int cnt=0;

                   foreach( var ads in Model)
                   {
                       if(cnt++ % 4 ==0 ) {
                        @:   </div><div class="row selected-classifieds">
                       }

                    @: <div class="col-lg-3">
                        @:<a href="@Url.Action("details","Annonces", new { id= ads.id_ad, ad_title=ads.ad_title.ToSeoUrl()},null)">
                            @: <div class="thumbnail">
                                @:  <img alt="@Url.Content(string.IsNullOrEmpty(ads.tb_ad_image.FirstOrDefault().image_filename)? "default-img.jpg" : ads.tb_ad_image.FirstOrDefault().image_filename)" src="@Url.Content(WebConfigurationManager.AppSettings["PhotosDir"] + (string.IsNullOrEmpty(ads.tb_ad_image.FirstOrDefault().image_filename) ? "default-img.jpg" : ads.tb_ad_image.FirstOrDefault().image_filename) + "?width=400&height=300")" class="img-responsive" />
                                @:<div class="caption">
                                    @: <p><small>@Html.ActionLink(ads.ad_title, "details", "Annonces", new { id = ads.id_ad, ad_title = ads.ad_title.ToSeoUrl() }, null)</small><p>
                                    if(ads.id_section!=9 && ads.id_section!=8){
                                        @:  <p><strong><span>@Html.Raw(HttpUtility.HtmlDecode(ads.tb_devise.symbole))</span>@Html.Label(ads.ad_price + " ")</strong></p>
                                        }
                                     if (ads.ad_status == 4)
                                     {
                                        @:<p><label class="label label-danger vendu">vendu</label></p>
                                    }
                                    @:   </div>
                                @: </div>
                            @: </a>
                        @: </div>
                   }
        }

    </div>


    <div>

        @Html.PagedListPager(Model, pageNumber => @Url.Action("allannonce","Annonces", new { pageNumber,typeannonce=ViewBag.currentType, keywords=ViewBag.currentKeyword ,  id_category =ViewBag.currentCategory,  ad_city=ViewBag.currentAdCity,id_account_type = ViewBag.currentAccountType,display=ViewBag.currentDisplay}))
    </div>
</div>