@model Toutokaz.WebUI.Models.CategoryPageModel

 
@{
    Layout = "~/Views/Shared/_LayoutPagev2.Mobile.cshtml";
}
@using Toutokaz.WebUI.Helpers 


<script type="text/javascript">

    function goBack() {
        console.log('click back');
        window.history.back();
    }

</script>



@*
    <div data-role="header">
        <div align="center">
            <img src="~/Content/img/logo-revamp-white.png" class="logomobile" vspace="2" />
        </div>
        <a href="@Url.Action("SearchKeywords","annonces")" data-icon="search" data-iconshadow="false" data-iconpos="notext" class="ui-btn-right ui-icon-nodisc"></a>
        <a href="@Url.Action("index","home")" class="ui-btn ui-btn-left ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext"></a>

    </div>

*@



<ul data-role="listview">
    <li data-role="list-divider" class="page_heading"><span>@ViewBag.count_annonce  annonces - @Html.Raw(Model.CategoryName)</span></li>
    <li>@Html.Partial("_annoncesList.Mobile", Model.AdsList)</li>
</ul>



