@model Toutokaz.WebUI.Models.AnnonceurViewModel
@using Toutokaz.WebUI.Helpers
@using MvcSiteMapProvider.Web.Html
@using PagedList.Mvc

@{
    ViewBag.Title = "Toutokazz - Vitrine des annonceurs";
    ViewBag.page_description = "Toutokazz, Postez vos annonces sur votre vitrine en ligne";
    ViewBag.description = "Toutokazz, Postez vos annonces sur votre vitrine en ligne";
    ViewBag.ImageUrl = Url.Content("~/Content/img/slides/slide-positive-women.jpg");
    
    Layout = "~/Views/Shared/_LayoutPagev2.cshtml";
}

@section open_graph_tags{
    @Html.Partial("_OpenGraphTag")
}

<!--Main container-->
<div class="row">
    <div class="col-sm-3 page-sidebar">
        @Html.Partial("_asideProfile", Model);
    </div>
    <!--/.page-side-bar-->
    <div class="col-sm-9 page-content col-thin-left">

        <!--/.listing-filter-->
        <div class="adds-wrapper">
            <h1> @Model.annonceur.firstname, @Model.annonceur.lastname <span class="badge">@ViewBag.count_annonce</span></h1>
            <div class="listing-filter">
                <div class="pull-right col-xs-6 text-right listing-view-action"> <span class="list-view active"><i class="  icon-th"></i></span> <span class="compact-view"><i class=" icon-th-list  "></i></span> <span class="grid-view "><i class=" icon-th-large "></i></span> </div>
                <div style="clear:both"></div>
            </div>

            @Html.Partial("_listing", Model.AdsList)
         </div>
    <!--/.page-content-->

</div>
    </div>

