@model Toutokaz.Domain.Models.tb_ads
@using Toutokaz.WebUI.Helpers
@{

    Layout = "~/Views/Shared/_LayoutPagev2.Mobile.cshtml";
    List<Toutokaz.Domain.Models.tb_section> Menu = ViewBag.Menu;
    string tel = "tel:" + Model.ad_phone;

}

<script type="text/javascript">
        function onSuccessContact() {
            var form = $('#contactAnnonceur');
            form.find("input[type=text], textarea").val("");
            $('#load').hide();
        };

        function goBack() {
            console.log('click back');
            window.history.back();
        }
</script>



<ul data-role="listview" >
    <li data-role="list-divider" class="page_heading">@Html.Raw(Model.ad_title)</li>
    <li id="detail-slider">
        <!--Slide-->
        <div id="Glide" class="glide">
            <!--Photos-->
            <div class="glide__wrapper">
                <ul class="glide__track">
                    @{
                        int slide = 1;
                        foreach (var item in Model.tb_ad_image)
                        {

                            if (slide == 1)
                            {
                                <li class="glide__slide" data-slide-number="@slide">
                                    <img alt="@Url.Content(string.IsNullOrEmpty(item.image_filename)? "default-img.jpg" : item.image_filename)" src="@Url.Content(WebConfigurationManager.AppSettings["PhotosDir"] + (string.IsNullOrEmpty(item.image_filename) ? "default-img.jpg" : item.image_filename) + "?width=480&height=360")" class="img-responsive" />
                                </li>
                            }
                            else
                            {

                                <li class="glide__slide" data-slide-number="@slide">
                                    <img alt="@Url.Content(string.IsNullOrEmpty(item.image_filename)? "default-img.jpg" : item.image_filename)" src="@Url.Content(WebConfigurationManager.AppSettings["PhotosDir"] + (string.IsNullOrEmpty(item.image_filename) ? "default-img.jpg" : item.image_filename) + "?width=480&height=360")" class="img-responsive" />
                                </li>
                            }
                            slide++;
                        }
                    }
                </ul>
            </div>
        </div>

    </li>
    <li>
        <!--button Ad Phone-->
        @if (!String.IsNullOrEmpty(Model.ad_phone))
            {
            <div>
                <a id="tel_button" href="@tel" data-role="button" data-icon="phone">Téléphone</a>

            </div>


        }
    </li>
    <li data-role="list-divider" class="page_heading">Détail de l'annonce</li>
    <li>
        <ul data-role="listview" data-inset="false" class="product-information">
            <li> <span>Prix : </span> <span id="ad_price" class="detail_ads_data">@HttpUtility.HtmlDecode(Model.tb_devise.symbole) @Html.DisplayFor(x => x.ad_price)</span> </li>
            <li>
               <span>Code Annonce :</span> 
                <span class="detail_ads_data"> @Html.DisplayFor(x=>x.ad_code) </span>
            </li>
            <li> <span>Catégorie :</span> <span class="detail_ads_data">@Html.DisplayFor(x=>x.tb_category.category_title)</span> </li>
            <li><span>Annonce crée le :</span> <span class="detail_ads_data">@Html.Encode(Model.ad_date_created.Value.ToShortDateString())</span> </li>
            <li><span>Commune :</span> <span class="detail_ads_data">@Html.DisplayFor(x=>x.tb_commune.commune)</span> </li>
            <li><span> Département :</span><span class="detail_ads_data">@Html.DisplayFor(x=>x.tb_departement.departement)</span> </li>
        </ul>
    </li>
        @if ( (Model.id_category == 1 || Model.id_category == 2) && Model.tb_ad_vehicule.Count() > 0 )
            {
        <li data-role="list-divider" class="page_heading">Fiche du véhicule</li>
        <li>
            <ul data-role="listview" class="product-information">
                            @foreach (var c in Model.tb_ad_vehicule)
                                {
                                    <li><span>Marque</span> <span class="detail_ads_data">@Html.DisplayFor(x=>c.marque)</span></li>
                                    <li><span>Modèle</span><span class="detail_ads_data">@Html.DisplayFor(x => c.modele)</span></li>
                                    <li> <span>Annee</span> <span class="detail_ads_data">@Html.DisplayFor(x => c.annee)</span></li>
                                    <li><span>Transmission</span> 
                                        <span class="detail_ads_data">
                                                 @if (c.id_transmission == 1)
                                                 {  @Html.DisplayName("Manuelle");
                                                 }
                                                 else if (c.id_transmission == 2)
                                                 { @Html.DisplayName("Automatique"); }
                                                   else
                                                 {  @Html.DisplayName("NA");}
                                        </span></li>                    
                                    <li><span >Carburant</span><span class="detail_ads_data">
                                                                  @if (c.id_carburant == 1)
                                                                  {  @Html.DisplayName("Gazoline")}
                                                                  else if (c.id_carburant == 2)
                                                                  { @Html.DisplayName("Diesel") }
                                                                  else if (c.id_carburant == 3)
                                                                  { @Html.DisplayName("Propane") }
                                                                  else
                                                                  {  @Html.DisplayName("NA")}
                                        </span></li>
                                    <li> <span>Kilometrage</span> <span class="detail_ads_data">@Html.DisplayFor(x => c.mileage) Km</span></li>
                                }
                        </ul>
        </li>
        }

            @if (Model.id_section == 2)
            {
                <li data-role="list-divider" class="page_heading">Fiche Immobilier</li>
                <li>
                    <ul data-role="listview" class="product-information">
                        @foreach (var c in Model.tb_ad_immobilier)
                        {                        
                                <li> <span>Pièce(s)</span> <span class="detail_ads_data">@Html.DisplayFor(x => c.id_nb_pieces) pièce(s)</span></li>
                                <li> <span>Chambre(s)</span> <span class="detail_ads_data">@Html.DisplayFor(x => c.id_nb_pieces) chambre(s)</span> </li>
                                 <li> <span>Surface</span> <span class="detail_ads_data">@Html.DisplayFor(x => c.surface) m&sup2;</span></li>
                                <li> <span>Loyer</span> <span class="detail_ads_data">@Html.DisplayFor(x => c.loyer) USD</span></li>
                        }
                    </ul>
                </li>

            }
            
    <li data-role="list-divider" class="page_heading">Description</li>
    <li>
        <p class="wrap">
            @Html.DisplayFor(x=>Model.ad_description)
        </p>
    </li>
    <li data-role="list-divider" class="page_heading product-information" >Contacter l'annonceur</li>
    <li>
        @using (Ajax.BeginForm("contact", "Annonces", new AjaxOptions { InsertionMode = InsertionMode.Replace, LoadingElementDuration = 1000, UpdateTargetId = "contact-message", HttpMethod = "Post", LoadingElementId = "load", OnSuccess = "onSuccessContact" }, new { id = "contactAnnonceur" }))
        {
            <div class="form-group">
                @Html.Hidden("idad", (object)Model.id_ad)
                @Html.Hidden("Emailaccount", (object)Model.tb_account.email)
                @Html.Hidden("ad_code", (object)Model.ad_code)
                @Html.Hidden("ad_title", (object)Model.ad_title.ToSeoUrl())
            </div>
                        <div id="contact-message" class="contact-message">

                        </div>
                        <div id="load" class="" style="display:none;">
                            <img src="~/Content/img/ajax-loader.gif" />
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email* </label>
                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Votre email">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Telephone(facultatif) </label>
                            <input type="text" class="form-control" id="Telephone" name="telephone" placeholder="Votre telephone">
                        </div>
                        <div class="form-group">
                            <label for="InputText">Votre message* :</label>
                            <textarea class="form-control" id="message" name="message" rows="7" style="margin-bottom:10px;"> Bonjour, J'aimerais avoir plus de renseignements sur votre annonce déposée sur toutokazz.com. Merci de me contacter à cet effet. Cordialement</textarea>
                        </div>
                        <button class="btn btn-info" id="btnContact" type="submit">Envoyer</button>
        }

    </li>
    <li data-role="list-divider" class="page_heading">Profile de l'annonceur</li>
    <li>
            <img src="~/Content/img/avatar-profile.jpg" width="80" height="80" />       
        <div style="margin-left : 20px">
            <h3 class="no-margin" >
                @if (Model.tb_account.id_account_type.Equals(1))
            {

                if (String.IsNullOrEmpty(Model.tb_account.pseudo))
                {
                        <span class="wrap"><a href="@Url.Action("annonceur", "annonces", new { id = Model.id_account , annonceurname = Model.tb_account.firstname.ToSeoUrl() })">@Model.tb_account.firstname@Model.tb_account.lastname</a></span>
                }
                else
                {
                        <span class="wrap"><a href="@Url.Action("annonceur", "annonces", new { id = Model.id_account , annonceurname = Model.tb_account.firstname.ToSeoUrl() })">@Model.tb_account.pseudo</a></span>
                }
            }
            else
            {
                    <span class="wrap"><a href="@Url.Action("vitrine", "annonces", new { id = Model.id_account , annonceurname = Model.tb_account.nom_entreprise.ToSeoUrl() })">@Model.tb_account.nom_entreprise</a></span>
            }
            </h3>
            <span>Ville:</span> <span>@Html.DisplayFor(x=>Model.tb_commune.commune)</span></span>
        </div>
    </li>
    <li data-role="list-divider" class="page_heading">Annonces similaires</li>
    <li>@{ Html.RenderAction("_GetSimilarAds", "Annonces", new { id = Model.id_ad });}</li>
</ul>
