@model ToutokazAdmin.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Toutokazz";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Petites Annonces Gratuites, le meilleur d'Haiti</title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Toutokazz - Petites annonces pour toutes les occasions, Haiti">
    <meta name="keywords" content="annonces, haiti, classified ads, ads,">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/admin.css" rel="stylesheet" />
    <style type="text/css">
        .validation-summary-errors li {
            color:red;
            font-weight:bold;
        }
    </style>

</head>
<body>
  <div class="container wrapper"> 
   <div class="row">
          <div class="col-md-9">
          <div id="logo">
                        <span class="site-logo">toutokazz</span>
                        <span class="site-logo-text">PETITES ANNONCES POUR TOUTES LES OCCASIONS</span>
                    </div>
          </div>   

   </div> 
       
       <!-- Static navbar -->        
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#czsale-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="czsale-navbar">
          <a href="#" class="btn btn-success navbar-btn add-classified-btn navbar-left" role="button">Deposer une annonce</a>
          <ul class="nav navbar-nav navbar-right">
 
            <li><a href="@Url.Action("Login","Account")">Mon Compte</a></li>
             <li><a href="#">Aide</a></li>
          
               
              </ul>
        </div>
      </nav>
      <!-- /Static navbar --> 
          
  <div class="row">
      <div class="col-lg-12 " style="margin-top:10px; margin-bottom:20px;">
               <fieldset>
                   <legend>SE CONNECTER / S'INSCRIRE</legend>
               </fieldset> 
        
              <div class="col-lg-6">                 
                  <form role="form" method="post">
                      @Html.ValidationSummary(false)
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email </label>
                         @Html.TextBoxFor(model=>model.Email, new {type="email", @class="form-control", id="Email", placeholder="Votre Email"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Mot de passe</label>
                          @Html.PasswordFor(model => model.Password, new {@class="form-control", id="Password", placeholder="Mot de passe" })
                       
                      </div>
                            <div class="form-group">
                           <button type="submit" class="btn btn-medium btn-success">Valider</button>
                          
                          </div>
                 
                      
                      <div class="form-group">                    
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" id="RememberMe"> Rester connecté 
                            </label>
                          </div>
                       <div style="display:inline-block"><a class="btn btn-small btn-default pull-right" href="#">Mot de passe oublié</a></div>
                      </div>
        
                     
                    </form>
              </div>
              <div class="col-lg-6">
                 <h3> S'inscrire :</h3>
                    <p>LA CRÉATION DE VOTRE COMPTE PERSONNEL EST GRATUITE</p>
                  <p> Ce service vous permet de retrouver toutes vos annonces au même endroit.
                   Déposez à présent plus simplement et plus rapidement vos annonces et améliorez leur gestion.</p> 
                   <p><a class="btn btn-medium btn-warning" href="@Url.Action("Create","Account")" role="button">COMPTE PARTICULIER</a> ou <a class="btn btn-medium btn-warning" href="@Url.Action("CreatePro","Account")" role="button">COMPTE PROFESSIONEL</a></p>
              </div>
       
      </div>
  </div>

       
        <div class="footer">
   
        <div class="pull-right">
          <p class="text-muted"><small>Copyright &copy; 2013-2014, Toutokaz </small></p>
        </div>
      </div>
    </div>
       
      </body>
    </html>
