@{
    
    ViewBag.Title = "Toutokazz";

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Petites Annonces Gratuites, le meilleur d'Haiti</title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Toutokazz - Petites annonces pour toutes les occasions, Haiti">
    <meta name="keywords" content="annonces, haiti, classified ads, ads,">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/admin.css" rel="stylesheet" />
   
</head>
<body>
  <div class="container wrapper"> 
      <div class="row">
           <div class="col-md-9">
          <div id="logo">
                        <span class="site-logo">toutokazz</span>
                        <span class="site-logo-text">PETITES ANNONCES POUR TOUTES LES OCCASIONS</span>
                    </div>
          </div>
          </div> 

       <!-- Static navbar -->        
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#czsale-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav">
                 <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>Tableau de Bord</a></li>
            <li><a href="@Url.Action("Index","Annonces")"> Mes Annonces </a>            
            <li><a href="@Url.Action("Index","Section")">Section</a></li>
             <li><a href="@Url.Action("Index","Category")">Category</a></li>
              </ul>
               <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Utilisateurs</a></li>
                <li><a href="#">Aide</a></li>
              <li class="dropdown">@Html.Partial("_LoginPartial")
                </li>
              </ul>
        </div>
      </nav>
      <!-- /Static navbar --> 
    
 
        <div class="row content">
            @RenderBody()
        </div>
        <div class="footer">
        <div class="well well-sm">
          <div class="pull-left">
            <ul class="nav nav-pills">
              <li><a href="#"><span class="glyphicon glyphicon-plus"></span>Deposer une annonce</a></li>
            </ul>
          </div>
          <div class="pull-right">
            <ul class="nav nav-pills">
              <li><a href="#">Aide</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Regles d'utilisation</a></li>
            </ul>
          </div>
          <div class="clearfix">&nbsp;</div>
        </div>
        <div class="pull-right">
          <p class="text-muted"><small>Copyright &copy; 2013-2014, Toutokaz </small></p>
        </div>
      </div>
      </div>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/admin.js"></script>
      </body>
    </html>
