@model Toutokaz.Domain.Models.tb_ad_vehicule
@using Toutokaz.WebUI.Helpers

   <div class="form-group" id="marque_vehicule">
        <label class="col-md-3 control-label">Marque</label>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.marque, new { @class = "form-control" })
        </div>
    </div>
   
    <div class="form-group" id="modele_vehicule">
        <label class="col-md-3 control-label">Modèle</label>
        <div class="col-md-8">
            @Html.TextBoxFor(model => Model.modele, new { @class = "form-control" })
        </div>
    </div>
   
     <div class="form-group" id="annee_vehicule">
        <label class="col-md-3 control-label">Année</label>
        <div class="col-md-8">
            @Html.TextBoxFor(model =>Model.annee , new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group" id="transmission">
        <label class="col-md-3 control-label">Transmission</label>
        <div class="col-md-8">
            @Html.DropDownList("id_transmission", @ViewBag.id_transmission as SelectList, "(Sélectionner Transmission)", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_transmission)
        </div>
    </div>

    <div class="form-group" id="carburant">
        <label class="col-md-3 control-label">Carburant</label>
        <div class="col-md-8">
            @Html.DropDownList("id_carburant", @ViewBag.id_carburant as SelectList, "(Sélectionner Carburant)", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_carburant)
        </div>
    </div>

    <div class="form-group" id="mileage">
        <label class="col-md-3 control-label">Mileage/Kilométrage</label>
        <div class="col-md-8 input-group">
            @Html.TextBoxFor(model => Model.mileage, new { @class = "form-control" })
            <div class="input-group-addon">Km</div>
        </div>
    </div>
