@model Toutokaz.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Toutokazz - Mon compte";
    ViewBag.description = "Bienvenue sur Toutokazz, Créer votre comtpe et déposer une annonce";
    ViewBag.motscles = "toutokazz,toutokaz, annonces,comtpe,deposer,particulier,professionnel, haiti, classified ads, ads,site annonce, site annonces, petites";
    ViewBag.page_description = "Bienvenue sur Toutokazz, Créer votre compte et déposer une annonce";
    ViewBag.ImageUrl = Url.Content("~/Content/images/bg_intro2.jpg");
    Layout = "~/Views/Shared/_LayoutPagev2.cshtml";
}


    <div class="row">
        <div class="col-sm-5 login-box">
            <div class="panel panel-default">
                <div class="panel-intro text-center">
                    <h2 class="logo-title">
                        <!-- Original Logo will be placed here  -->
                        Se connecter
                      </h2>
                </div>
                <div class="panel-body">
                    @Html.Action("ExternalLoginButton", "account", new { ReturnUrl = ViewBag.ReturnUrl })
                    <h2 class="logo-title text-center">
                        <!-- Original Logo will be placed here  -->
                        ou
                    </h2>
                    <form role="form" action="@Url.Action("Login","account")" method="post">
                        @Html.ValidationSummary(false)
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email </label>
                            <div class="input-icon"> <i class="icon-user fa"></i>
                                @Html.TextBoxFor(model => model.Email, new { type = "email", @class = "form-control email", id = "Email", placeholder = "Votre Email" })
                            </div>
                          </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <div class="input-icon">
                                <i class="icon-lock fa"></i>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "Password", placeholder = "Mot de passe" })
                            </div>
                            </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-medium btn-success">Valider</button>

                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <p class="text-center pull-right"> <a href="@Url.Action("forgotpassword","account")"> Mot de passe oublié</a> </p>
                    <div style=" clear:both"></div>
                </div>
            </div>

            <div class="login-box-btm text-center">
                <p>
                    Vous n'avez pas encore de compte? <br>
                    <a href="@Url.Action("Create","account")"><strong>Créer un comtpe</strong> </a>
                </p>
            </div>
        </div>
  
    </div>

